:root {
	font-size: 16px;
	font-family: "Open Sans";
	--bg-primary:rgba(255, 255, 255, 0.822);
	--bg-secondary: black;
	--text-primary: black;
	--text-secondary: white;
	--accent: #8bc34a;
}
main, body {
	margin: 0;
	padding: 0;
}
#home {
	height: 100vh;
	color: var(--text-secondary);
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	/*Animated background*/
	background: linear-gradient(90deg, var(--accent),black, grey,rgba(255, 255, 255, 0.63));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
/*Animated background*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#h1-name {
	color: var(--accent);
}
.button {
	background-color: transparent;
	color: var(--text-secondary);
	border: 2px solid var(--text-secondary); 
	padding: 15px 32px;
	font-size: 1.2rem;
	opacity: 0.6;
}