:root {
	font-size: 16px;
	font-family: "Open Sans";
	--bg-primary: rgba(255, 255, 255, 0.822);
	--bg-secondary: rgba(0, 0, 0, 0.87);
	--text-primary: black;
	--text-secondary: white;
	--accent: #8bc34a;
}
html {
	scroll-behavior: smooth;
}
main,
body {
	margin: 0;
	padding: 0;
	top: 0;
	position: relative;
}

h1 {
	z-index: 2;
	position: absolute;
}
#h1-name {
	color: var(--accent);
}
.button {
	background-color: transparent;
	color: var(--text-secondary);
	border: 2px solid var(--text-secondary);
	padding: 15px 32px;
	font-size: 1.2rem;
	opacity: 0.6;
}
.button:hover {
	background-color: var(--accent);
	color: var(--text-primary);
	border: none;
	opacity: 1;
}
#particles-js {
	z-index: 1;
	height: 100vh;
	color: var(--text-secondary);
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-secondary);
	padding: 0;
	margin: 0;
}

/* Scroll Bar*/
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: var(--accent);
}

.navbar {
	top: 0;
	border-top: solid 2px var(--accent);
	background-color: var(--bg-secondary);
	width: 100%;
}
.navbar-nav {
	display: flex;
}
.nav-item {
	color: var(--accent);
}
