:root {
	font-size: 1.3vw;
	font-family: "Open Sans";
	--bg-primary: rgba(255, 255, 255, 0.822);
	--bg-secondary: rgba(0, 0, 0, 0.87);
	--nav-bg: rgb(42, 46, 42);
	--text-primary: black;
	--text-secondary: white;
	--accent: #8bc34a;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
main,
body {
	margin: 0;
	padding: 0;
	top: 0;
}

/* Welcome Section*/

h1 {
	z-index: 2;
	position: absolute;
}
#h1-name {
	color: var(--accent);
}

#particles-js {
	z-index: 1;
	height: 100vh;
	color: var(--text-secondary);
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-secondary);
	padding: 0;
	margin: 0;
}
/* Navbar */
nav {
	width: 100%;
}
ul {
	margin: 0;
	padding-left: 10px;
	display: flex;
	background-color: rgb(42, 46, 42);
}

ul li {
	list-style: none;
	margin: 0 20px;
	transition: 0.5s;
}

ul li:last-child {
	margin-left: auto;
	padding-right: 3rem;
}

ul li a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;
	color: #fff;
	transition: 0.5s;
}

ul:hover li a {
	transform: scale(1.5);
	opacity: 0.2;
	filter: blur(5px);
}

ul li a:hover {
	transform: scale(2);
	opacity: 1;
	filter: blur(0);
	text-decoration: none;
	color: #fff;
}

ul li a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--accent);
	transition: 0.5s;
	transform-origin: right;
	transform: scaleX(0);
	z-index: -1;
}

ul li a:hover:before {
	transition: transform 0.5s;
	transform-origin: left;
	transform: scaleX(1);
}

/* Button Anim */
button {
	background: rgba(58, 58, 58, 0.548);
	color: #fff;
	border: none;
	position: relative;
	height: 60px;
	font-size: 1rem;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
button:hover {
	color: var(--accent);
}
button:before,
button:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: var(--accent);
	transition: 400ms ease all;
}
button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
button:hover:before,
button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/* Scroll Bar*/
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: var(--accent);
}
